<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Pokemon List</title>
  </head>

  <body>
    <div id="app" class="container">
      <h1>Pokemon</h1>
        <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Name: {{jsonObject.name}}</h4>
        <ul>
          <li>order: {{jsonObject.order}}</li>
          <li>Alto: {{jsonObject.height}}</li>
          <li>Ancho: {{jsonObject.weight}}</li>
          <li>Base Exp: {{jsonObject.base_experience}}</li>
        </ul>

        <h4 class="alert-heading">Tipo</h4>
        <ul>
          <li v-for="tipo in jsonObject.types">tipo: {{tipo.type.name}}</li>
        </ul>
        <p></p>

        <h4 class="alert-heading">Game indices</h4>
        <ol>
          <li v-for="game in jsonObject.game_indices">Version: {{game.version.name}}</li>
        </ol>
        <p></p>
      </div>
    </div>

    <script>

      const App = new Vue({
        el: '#app',
        data: {
          jsonObject: {}
        },
        methods: {
            init() {
              fetch("https://pokeapi.co/api/v2/pokemon/1/")
              .then(response => response.json())
              .then(data => (this.jsonObject = data));
            }
        },
        mounted(){
            this.init()
        }
      })
    </script>
  </body>
</html>