body{

    background-color: seagreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{

    text-transform: uppercase;
    color: white;
    text-shadow: 3px 3px 0 black;
}
#intro{

    border: 5px black solid;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
}
.estilo-1{

    border: 15px rgb(136, 38, 2) solid;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px;
    color: white;
    background-color: rgb(170, 72, 36) ;
    margin-right: 50%;
    font-size: 20px;
}
.estilo-2{

    border: 10px rgb(155, 109, 11) solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(187, 147, 15);
    color: white;
    padding: 10px;
    margin-left: 50%;
    font-size: 20px;
}
.estilo-3{

    border: 3px rgb(9, 170, 224) dashed;
    background-color: rgb(69, 69, 248);
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px;
    font-size: 20px;
}